@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.toggles {
  text-align: center;
  padding-top: 8%;
}

.logo {
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 200px;
  text-align: center;
  color: red;
}
.line {
  font-family: 'Rock Salt', cursive;
  font-size: 25px;
  text-align: center;
  color: white;
}

.picture {
  display: block;
  margin-left: left;
  margin-right: left;
  width: auto;
}
.picture2 {
  right: 0;
  position: absolute;
  float: right;
  margin: -250px;

}

.background {
  background-color: black;
}










